.connect{
    margin-left: 44%;
    margin-top: 6%;
    font-size: 25px;
    border: 2px solid blue;
    border-radius: 10px;
    font-weight: bold;
}


.custom-button {
    display: flex;
    align-items: center;
    background-color: #0070d2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #005bb5;
}

.custom-button .icon {
    margin-right: 10px;
}

.icon{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
.abc{
    font-size: 22px;
}